*{
    padding: 0%;
    margin: 0%;
}

#header{
    background-image: url(rm222-mind-22.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 1350px;
    
}
nav{
    text-align: center;
    word-spacing: 50px;
}
nav a{
    
    color: white;
    text-transform: uppercase;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    z-index: 1;
    display: inline-block;
    text-decoration: solid;
    font-weight: 500;
    display: inline-flex;
}






nav a::after{
    content: '';
    height: 3px;
    width: 0;
    bottom: -5px;
    background-color: purple;
    position: absolute;
}

nav a:hover::after{
    width: 100%;
    transition: 0.3s;
}


#laptop{
    margin-left: 50%;
    
    
}

.header2{
    font-size: 50px;
    text-transform: uppercase;
    padding: 70px;
    

}

.login{
    box-sizing: border-box;
    
}


